/* CSS defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main page,  parent box, includes a blog class box as a child */
.container {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card with footer */
article {
  background-color: hsl(0, 0%, 100%);
  width: 384px;
  height: 522px;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 5em;
  box-shadow: 5px 5px;
}

/* SVG image */
svg {
  border-radius: 10px;
}

/* Content without auther line */
.content {
  width: 336px;
  margin: auto;
  margin-top: 1.3em;
}

.text h3,
.text h4,
.text h1 {
  margin-bottom: 20px;
}

.text,
.author {
  margin-top: 1em;
  font-family: "Rubik";
  font-weight: 500;
  /* border: 1px solid black; */
}

.learning {
  font-size: 14px;
  width: 90px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  background-color: hsl(47, 88%, 63%);
  padding: 5px;
  text-align: center;
  border-radius: 8px;
}

.text h4 {
  font-size: 14px;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
}

.text h1 {
  color: hsl(0, 0%, 7%);
  font-size: 24px;
  font-weight: 800;
}

.text h1:hover {
  color: hsl(47, 88%, 63%);
}

.text p {
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 42%);
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 32px;
}

.author p {
  font-size: 14px;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
  margin-left: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
